body {
  background-image: url("../img/bg.png"); }

.container {
  width: 965px;
  margin: auto;
  padding-top: 101px;
  text-align: center; }

.title {
  color: #6c1c02;
  font-family: "Muller Bold";
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 45px; }

.desc {
  font-family: "Muller Regular";
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 54px; }
  .desc strong {
    font-weight: 700;
    font-family: "Muller Bold"; }

.cont::after {
  content: "";
  display: table;
  clear: both; }

.cart {
  box-shadow: 0 9px 21px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  float: left;
  margin-left: 49px;
  width: 271px;
  text-align: center;
  height: 503px;
  margin-bottom: 50px; }

.cart:first-child {
  margin-left: 27px; }

.img-cart {
  padding: 44px 58px 0px 58px;
  margin-bottom: 29px;
  min-height: 336px; }
  .img-cart img {
    max-height: 323px; }

.name-cart {
  color: #393939;
  font-family: "Muller Medium";
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
  min-height: 36px; }
  .name-cart span {
    color: #7f7f7f;
    font-size: 14px; }

.price {
  font-size: 18px;
  font-weight: 400;
  color: #393939;
  font-family: "Muller Medium";
  margin-bottom: 36px; }
  .price strong {
    font-size: 20px;
    font-weight: 700;
    font-family: "Muller Bold"; }

.button {
  color: #ffffff;
  font-family: "Muller Bold";
  font-size: 18px;
  font-weight: 400;
  padding: 29px 46px;
  box-shadow: 0 9px 21px rgba(0, 0, 0, 0.15);
  background-color: #e70000;
  margin-bottom: 98px; }
